PROJECT_NAME={{project_name}}
AUTHOR={{author}}
CREATED_AT={{created_at}}
SECRET_KEY=change-me
ALLOWED_HOSTS=*
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
